<div class="tablet">
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col">
                    <img src="assets/images/Prakriti.png" height="80px" width="90px">

                </div>
                <div class="col ">
                    <img class="top_right" src="assets/images/back_arrow.jpeg" height="50px" width="70px" (click)="backhome()">
                </div>
            </div>

        <div class="row dash">
            <div class="col-4">
                      <img src="assets/images/user2.jpg" id="userImage" height="170px" width="190px">
                      <img class="text-block" src="assets/images/Points.png" height="50px" width="70px">
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col center-block">

                        <h1 style="margin-top: 2em;"><b>John Doe</b></h1>
                    </div>
                </div>
                 <div class="row">
                     <div class="col" style="margin: auto;display: block;">
                        <span><img src="assets/images/points2.png" height="60px" width="50px" style="float: left; margin-left: 6em;"><h2 style="margin-top: 0.2em; margin-left: 1.5em;"><b>1,05,000</b></h2>
                        </span>
                    </div>
                    <div class="col">
                        <img src="assets/images/crown.svg" id="userImage" height="70px" width="80px">
                    </div>
                 </div>
            </div>
            <div class="col-4">
                <img src="assets/images/Insights.png" id="insights" height="100px" width="110px">
            </div>
        </div>

    <div class="row">
        <div class="col">
        <br>
        <figure>
            <img src="assets/images/Purchases.png" id="" height="50px" width="70px" style="margin: auto;display: block;">
            <figcaption style="color: #0ea75e;"><b>Purchases</b></figcaption>
        </figure>
        </div>
        
        <div class="col">
        <br>
        <figure>
             <img src="assets/images/Marketplace.png" id="" height="50px" width="70px" style="margin: auto;display: block;">
            <figcaption><b>Marketplace</b></figcaption>
        </figure>
        </div>


        <div class="col">
        <br>
        <figure>
            <img src="assets/images/Contribute.png" id="" height="50px" width="70px" style="margin: auto;display: block;">
            <figcaption><b>Contribute</b></figcaption>
        </figure>
        </div>

        <div class="col">
        <br>
        <figure>
            <img src="assets/images/connect.png" id="" height="50px" width="70px" style="margin: auto;display: block;">
            <figcaption><b>Social</b></figcaption>
        </figure>
        </div>
    </div>
    
    <hr>
       <router-outlet></router-outlet>
    <hr>
    <div class="row footer">
        <div class="col">
            <p style="text-align: center;">
                <b><i>Making the World greener one step at a time</i></b>
                <img src="assets/images/heart.png" id="" height="15px" width="20px" >
                <!--i class="fa fa-heart" style="color: #0ea75e;" aria-hidden="true"></i-->
            </p>
        </div>
    </div>


 </div>
    </div>
</div>


